<div class="nav">
    <nav>
        <h2 class="nav-header">Admin panel</h2>
        <ul class="vertical">
            <li class="<%= navLocation == 'user' ? 'active' : ''%>"><a href="/user"
                    class="<%= navLocation == 'user' ? 'active' : ''%>"> Users </a></li>
            <li class="<%= navLocation == 'artwork' ? 'active' : ''%>"><a href="/artwork"
                    class="<%= navLocation == 'artwork' ? 'active' : ''%>"> Artworks </a></li>
            <li class="<%= navLocation == 'offert' ? 'active' : ''%>"><a href="/offert"
                    class="<%= navLocation == 'offert' ? 'active' : ''%>"> Offerts </a></li>
        </ul>
    </nav>
</div>