<%- include('./../../fragments/header2.ejs') %>
    <%- include('./../../fragments/nav-ver.ejs') %>


        <div class="main">
            <main>
                <a href="artwork/add"><button>Add new Artwork</button></a>

                <table class="data" width="auto">
                    <tr>
                        <td colspan="9">
                            <h4> Artworks</h4>
                        </td>
                    </tr>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Tags</th>
                        <th>Thumbnail</th>
                        <th>User</th>
                        <th>Upload date</th>
                        <th colspan="3">Actions</th>
                    </tr>
                    <% for (let artwork of artworks) { %>
                        <tr>
                            <td>
                                <%= artwork.title %>
                            </td>
                            <td>
                                <%= artwork.description %>
                            </td>
                            <td>

                            </td>
                            <td>
                                <%= artwork.file %>
                            </td>
                            <td>
                                <% for (let user of users) { if(user._id==artwork.user_id ) { %>

                                    <%= user.username %>

                                        <% }} %>
                            </td>
                            <td>
                                <%= artwork.createdAt %>
                            </td>
                            <td><a href="artwork/details/<%=artwork._id%>">details</a></td>
                            <td><a href="artwork/edit/<%=artwork._id%>">edit<a></td>
                            <td><a href="artwork/delete/<%=artwork._id%>">remove<a></td>
                        </tr>
                        <% } %>


                </table>
            </main>
        </div>
        <%- include('./../../fragments/footer.ejs') %>