<%- include('./../../fragments/header2.ejs') %>
    <%- include('./../../fragments/nav-ver.ejs') %>
        <div class="main">
            <main>
                <a href="offert/add"><button>Add new Offert</button></a>
                <table class="data">
                    <tr>
                        <td colspan="10">
                            <h4> Offerts </h4>
                        </td>
                    </tr>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Owner</th>
                        <th>Customer</th>
                        <th colspan="3"> Actions</th>
                    </tr>
                    <% for (let offert of offerts) { %>
                        <tr>
                            <td>
                                <%= offert.title %>
                            </td>
                            <td>
                                <%= offert.description %>
                            </td>
                            <td>
                                <%= offert.price %>
                            </td>
                            <td>
                                <% for (let user of users) { if(user._id==offert.owner_id) { %>

                                    <%= user.username %>

                                        <% }} %>
                            </td>
                            <td>
                                <% for (let user of users) { if(user._id==offert.customer_id) { %>

                                    <%= user.username %>

                                        <% }} %>
                            </td>


                            <td><a href="offert/details/<%=offert._id%>">details</a></td>
                            <td><a href="offert/edit/<%=offert._id%>">edit<a></td>
                            <td><a href="offert/delete/<%=offert._id%>">remove<a></td>
                        </tr>
                        <% } %>

                </table>
            </main>
        </div>
        <%- include('./../../fragments/footer.ejs') %>